.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/library/build/
build/generated/assets/
build/generated/res/
build/generated/source/aidl/
build/generated/source/apt/
build/generated/source/buildConfig/release/
build/generated/source/r/androidTest/debug/com/
build/generated/source/r/debug/com/
build/generated/source/r/release/
build/generated/source/rs/
build/intermediates/annotations/
build/intermediates/blame/res/androidTest/debug/single/drawable-hdpi-v11.json
build/intermediates/blame/res/androidTest/debug/single/drawable-mdpi-v11.json
build/intermediates/blame/res/androidTest/debug/single/drawable-xhdpi-v11.json
build/intermediates/blame/res/androidTest/debug/single/drawable-xxhdpi-v11.json
build/intermediates/blame/res/androidTest/debug/single/drawable-xxxhdpi-v11.json
build/intermediates/blame/res/debug/single/drawable-hdpi-v11.json
build/intermediates/blame/res/debug/single/drawable-mdpi-v11.json
build/intermediates/blame/res/debug/single/drawable-xhdpi-v11.json
build/intermediates/blame/res/debug/single/drawable-xxhdpi-v11.json
build/intermediates/blame/res/debug/single/drawable-xxxhdpi-v11.json
build/intermediates/blame/res/release/
build/intermediates/bundles/debug/aidl/
build/intermediates/bundles/debug/assets/
build/intermediates/bundles/debug/res/drawable/
build/intermediates/bundles/debug/res/layout/
build/intermediates/bundles/release/R.txt
build/intermediates/bundles/release/aidl/
build/intermediates/bundles/release/assets/
build/intermediates/bundles/release/classes.jar
build/intermediates/bundles/release/jni/
build/intermediates/bundles/release/libs/
build/intermediates/bundles/release/res/drawable/
build/intermediates/bundles/release/res/layout/
build/intermediates/classes/
build/intermediates/dependency-cache/
build/intermediates/exploded-aar/cn.droidlover/XRecyclerView/1.0.0/aidl/
build/intermediates/exploded-aar/cn.droidlover/XRecyclerView/1.0.0/assets/
build/intermediates/exploded-aar/cn.droidlover/XRecyclerView/1.0.0/jni/
build/intermediates/exploded-aar/cn.droidlover/XRecyclerView/1.0.0/libs/
build/intermediates/exploded-aar/cn.droidlover/qtcontentlayout/1.0.3/aidl/
build/intermediates/exploded-aar/cn.droidlover/qtcontentlayout/1.0.3/assets/
build/intermediates/exploded-aar/cn.droidlover/qtcontentlayout/1.0.3/jni/
build/intermediates/exploded-aar/cn.droidlover/qtcontentlayout/1.0.3/libs/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/libs/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/res/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/libs/
build/intermediates/exploded-aar/com.android.support/design/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/design/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/design/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/design/23.3.0/libs/
b
uild/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/libs/
build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/libs/
build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/res/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/libs/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/res/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.4.0/aidl/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.4.0/assets/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.4.0/jni/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.4.0/libs/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.4.0/res/
build/intermediates/exploded-aar/com.squareup.leakcanary/
build/intermediates/exploded-aar/com.zhy/okhttputils/2.6.2/aidl/
build/intermediates/exploded-aar/com.zhy/okhttputils/2.6.2/assets/
build/intermediates/exploded-aar/com.zhy/okhttputils/2.6.2/jni/
build/intermediates/exploded-aar/com.zhy/okhttputils/2.6.2/libs/
build/intermediates/exploded-aar/com.zhy/okhttputils/2.6.2/res/
build/intermediates/incremental-safeguard/
build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
build/intermediates/incremental/mergeDebugResources/aapt-temp/
build/intermediates/incremental/mergeReleaseJniLibFolders/
build/intermediates/incremental/mergeReleaseResources/
build/intermediates/incremental/packageDebugResources/aapt-temp/
build/intermediates/incremental/packageReleaseResources/aapt-temp/
build/intermediates/incremental/processDebugAndroidTestResources/
build/intermediates/incremental/processDebugResources/
build/intermediates/incremental/processReleaseResources/
build/intermediates/jniLibs/
build/intermediates/lint/
build/intermediates/manifest/tmp/
build/intermediates/res/merged/androidTest/debug/drawable-hdpi-v11/
build/intermediates/res/merged/androidTest/debug/drawable-hdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/androidTest/debug/drawable-mdpi-v11/
build/intermediates/res/merged/androidTest/debug/drawable-mdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/androidTest/debug/drawable-xhdpi-v11/
build/intermediates/res/merged/androidTest/debug/drawable-xhdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/androidTest/debug/drawable-xxhdpi-v11/
build/intermediates/res/merged/androidTest/debug/drawable-xxhdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/androidTest/debug/drawable-xxxhdpi-v11/
build/intermediates/res/merged/androidTest/debug/drawable-xxxhdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/androidTest/debug/drawable/abc_oval_white.xml
build/intermediates/res/merged/androidTest/debug/drawable/leak_canary_toast_backg
round.xml
build/intermediates/res/merged/androidTest/debug/layout/abc_navi_tab_view.xml
build/intermediates/res/merged/androidTest/debug/layout/leak_canary_display_leak.xml
build/intermediates/res/merged/androidTest/debug/layout/leak_canary_heap_dump_toast.xml
build/intermediates/res/merged/androidTest/debug/layout/leak_canary_leak_row.xml
build/intermediates/res/merged/androidTest/debug/layout/leak_canary_ref_row.xml
build/intermediates/res/merged/androidTest/debug/layout/leak_canary_ref_top_row.xml
build/intermediates/res/merged/androidTest/debug/layout/sweet_alert_dialog_view.xml
build/intermediates/res/merged/debug/drawable-hdpi-v11/
build/intermediates/res/merged/debug/drawable-hdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/debug/drawable-mdpi-v11/
build/intermediates/res/merged/debug/drawable-mdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/debug/drawable-xhdpi-v11/
build/intermediates/res/merged/debug/drawable-xhdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/debug/drawable-xxhdpi-v11/
build/intermediates/res/merged/debug/drawable-xxhdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/debug/drawable-xxxhdpi-v11/
build/intermediates/res/merged/debug/drawable-xxxhdpi-v4/leak_canary_icon.png
build/intermediates/res/merged/debug/drawable/abc_oval_white.xml
build/intermediates/res/merged/debug/drawable/leak_canary_toast_background.xml
build/intermediates/res/merged/debug/layout/abc_navi_tab_view.xml
build/intermediates/res/merged/debug/layout/leak_canary_display_leak.xml
build/intermediates/res/merged/debug/layout/leak_canary_heap_dump_toast.xml
build/intermediates/res/merged/debug/layout/leak_canary_leak_row.xml
build/intermediates/res/merged/debug/layout/leak_canary_ref_row.xml
build/intermediates/res/merged/debug/layout/leak_canary_ref_top_row.xml
build/intermediates/res/merged/debug/layout/sweet_alert_dialog_view.xml
build/intermediates/res/merged/release/
build/intermediates/rs/
build/intermediates/shaders/
build/intermediates/transforms/
build/intermediates/typedefs.txt
build/tmp/
app/libs/
app/src/main/res/drawable/
